*{
   
    margin: 0;
    padding: 0;
}
.articlePage {
    background-color: #e5e5e5;
    height: 100%;
    align-items: center;
    padding: 20px;
}

.h1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    
}

.h3 {
    text-align: left;
    padding: 5px;
    margin: 5px;
}

.count {
    padding: 3px;
    margin: 7px;
    border-radius: 5px;
   display: inline;
   background-color: #22223b;
   color: #e5e5e5;
}

.comments {
    padding: 3px;
    margin: 7px;
    display: flex;
    background: #22223b;
    color: #e5e5e5;
    border-radius: 5px;
}

.body {
    margin: 10px;
    padding: 10px;
    text-align: left;
    font-size: 1.2em;
}

.each-comment {
    margin: 10px;
}

.comment {
    margin: 10px;
    background: #22223b;
    color: #e5e5e5;
    border-radius: 5px;
}