@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap");

* {
	margin: 0;
	padding: 0;
}
body {
	background: #212121;
}

.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	box-sizing: border-box;
	margin: 0;
	padding: 20px;
	background-color: #24252a;
	color: #edf0f1;
}

a.Link {
	text-decoration: none;
	color: #e5e5e5;
	padding: 10px;
}
a.Link:hover {
	border-bottom: 4px solid #e5e5e5;
	transition: all 0.2s ease-out;
}

a :visited {
	text-decoration: none;
	color: #000;
}

Link {
	text-decoration: none;
}

.articlesWrapper {
	display: flex;
	flex-direction: column;
}

@media (min-width: 700px) {
	.articlesWrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1300px) {
	.articlesWrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.Articles {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #212121;
	text-align: center;
	/* grid-template-columns: 100px 50px 100px;
	grid-template-rows: 80px auto 80px;
	column-gap: 10px;
	row-gap: 15px; */
}

.Article {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 13px;
	background-color: #24252a;
	color: #edf0f1;
	padding: 20px;
	margin: 40px;
	width: 260px;
	height: 180px;
	background-color: #212121;
	box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929;
	transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
		transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.Article:hover {
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	transform: scale(1.05);
}

/* background-color: #edf0f1;
	color: #24252a;
	width: 350px;
	padding: 15px;
	height: 175px;
	border-radius: 30px;
	border: transparent;
	margin: 20px;
	text-align: center;
	line-height: 1.3;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px; */

/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
/* /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
/* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
} */
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.h1 {
	color: #edf0f1;
	padding: 10px;
	text-align: center;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 30px;
}
h2 {
	color:#edf0f1;
	padding: 10px;
	text-align: center;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
}
.topic {
	border-radius: 7px;
	margin: 15px;
	background-color: #edf0f1;
	color: #24252a;
}
.card_details_t {
	text-align: center;
	margin-top: 1000px;
	margin: 15px;
}
.card_details {
	text-align: center;
	margin: 5px;
	display: inline;
}

.loading {
	height: 60vh;
	display: flex;
	width: 100%;
	justify-content: center;
	align-content: center;
	align-items: center;
}
